@import '../utils/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    &__element {
        text-decoration:none;
        text-shadow: 10px 6px 6px rgb(5, 4, 4);
        -webkit-text-stroke: 1px black;
        color: #ffffff;
        margin: 0 0.25rem;
        // font-family: 'Tapestry', cursive;
        // font-family: monospace;
        font-family: 'Gorditas', cursive;
        font-size: 1.5rem;
        font-weight: bold;
    }
}